.card{
  margin: 1px;
}
/*.text-center{*/
/*  margin-left: 10%;*/
/*}*/
.bg-transparent{
  border: dodgerblue 2px solid;
}
.w-75{
  margin-left: 8%;
}
.btn{
  margin-left: 5px;
}

.col-12{
  margin-top: 10%;
}


.mb-3{
  margin-top: 2%;
}
